.code {
    font-family: Consolas, 'Courier New', monospace
}

.sql-code .clause {
    color: lightblue;
}

.sql-code .string {
    color: lightgreen;
}

.sql-code .identifier {
    color: normal;
}

.sql-code .bool-operator {
    color: lightseagreen;
}

.python-code .function {
    color: red;
}

.python-code .builtin {
    color: orange;
}

.python-code .string {
    color: lightgreen;
}
