/* CSCI 115 Winter 2022 Mini Project */
/* style.css - Styling for the entire webpage */
/* Ethan Posner (658-180-559), March 30th, 2022 */


:root {
    --bg: rgb(3, 2, 29);
    --button: rgba(39, 38, 52, 0.594);
    --button-hover: rgb(9, 8, 15);
    --button-border: rgba(53, 50, 92, 0.594);
    --button-hover-border: rgba(47, 46, 75, 0.594);
    --button-active-border: rgba(47, 46, 75, 0.594);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjQ.ttf') format('truetype');
}

body {
    background-image: url("img/bg-code-blured.jpg");
    background-color: var(--bg);
    font-family: 'Inter';

    /* display: flex; */
    flex-direction: column;
    color: white;
    text-shadow: 0px 4px 4px #000000;
}

.button {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    text-shadow: 0px 4px 4px #000000;
    font-size: 20px;
    font-weight: bold;
    background: var(--button);
    border-radius: 15px;
    border: 3px solid var(--button-border);
    padding: 5px 15px;
    height: 50px;
    width: fit-content;
}

a {
    color: rgb(124, 201, 227);
}

a:hover {
    color: lightblue;
}

.button:hover {
    color: lightblue;
    background: var(--button-hover);
}
.button:active {
    color: lightblue;
    background: var(--button-active);
    border: 3px solid var(--button-active-border);
}

/* Top header of webpage. This will be the same on each webpage */

.header {
    color: white;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
}

.title {
    margin: 10px 10px;
}

.title h1 {
    font-size: 40px;
    font-weight: normal;
}

.title a {
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 10px;
    background-color: #43476d44;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
}

.title a:hover {
    background: rgba(39, 38, 52, 0.325);
}

.navbar {
    display: flex;
    height: 100%;
}

.navbar a {
    padding: 5px 15px;
    height: 50px;
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    /* justify-content: center; TODO: Remove this */ 
}

.button-list li {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.button-list a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    text-shadow: 0px 4px 4px #000000;
    font-size: 15px;
    font-weight: bold;
    background: rgba(39, 38, 52, 0.594);
    border-radius: 15px;
    border: 3px solid var(--button);
    padding: 5px 15px;
    height: 50px;
}

.button-list a:hover {
    color: lightblue;
    background: var(--button-hover);
}

.button-icon {
    width: 20px;
    height: 20px;
}

/* BOTTOM OF WEBPAGE (FOOTER) */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Social Media Links */
#social-links {
    color: white;
}

small {
    margin: 2%;
    padding: 5px;
}


/* ### Homepage ### */

.content {
    padding-left: 3%;
    padding-right: 3%;
}

#personal-summary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.self-portrait {
    max-width: 375px;
    max-height: 500px;
    width: 375px;
    height: 500px;
    float: left;

    margin: 30px 5%;
}

.text-box {
    font-size: 30px;
    margin: 5%;
    border-radius: 20px;
    padding: 5px;
    padding-right: 20px;
    width: 400px;

    background: #43476d9b;
    text-shadow: 0px 4px 4px #000000;
}

/* ### Resume Page ### */

.title-item {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

.key-points {
    font-size: 1.2em;
    border-radius: 10px;
}

.key-points li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.separated-emphasis {
    padding: 20px;
}

/* Apply to a table where text elements should be tabbed and aligned over multiple lines */
.aligned-items-table .left-item {
    padding-right: 50px;
}

.collapsible {
    width: 100%;
    margin: 10px 5px;
}

.active, .collapsible:hover {
    background-color: var(--button-hover);
}

.collapsible:hover {
    cursor:pointer;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
  }

.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    /* background-color: #f1f1f1; */
    transition: max-height 0.2s ease-out;
}


/* ### Projects and Hobbies Pages ### */

.double-column-container {
    display: flex;
}

.double-column-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 30px;
    background: rgba(128, 128, 128, 0.179);
}

.double-column-left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.double-column-left-part h1,
.double-column-left-part h2 {
    background-color: rgba(55, 54, 54, 0.496);
    padding: 5px;
    border-radius: 10px;

}

.double-column-right-part {
    margin-left: 20px;
    margin-right: auto;
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

.project-image {
    object-fit: contain;
    margin: 10px;
    width: 400px;
    max-width: 80%;
}

#clock-image {
    width: 500px;
}

#hiking-hobby {
    background-image: url("img/hiking-bg.jpg");
    background-size: cover;
    resize: both;
}

#hiking-hobby p,
#hiking-hobby figcaption {
    text-shadow: 2px 0 0 rgb(0, 0, 0),
        -2px 0 0 rgb(0, 0, 0),
        0 2px 0 rgb(0, 0, 0),
        0 -2px 0 rgb(0, 0, 0),
        1px 1px rgb(0, 0, 0),
        -1px -1px 0 rgb(0, 0, 0),
        1px -1px 0 rgb(0, 0, 0),
        -1px 1px 0 rgb(0, 0, 0);

    border-radius: 10px;
    padding: 5px;
    background-color: rgba(39, 38, 52, 0.594);
}

.free-photo {
    max-width: 80%;
    width: 600px;
}

figcaption {
    font-size: 0.8em;
}

.project-graph-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cytoscape Project Graph */
.cy-container {
    display: flex;
    flex-direction: center;
    justify-content: center;
}

#cy {
    width: 80%;
    height: 600px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}


/* Contact Page */

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-container form input {
    margin: 10px;
}

#message_area {
    width: 100%;
    height: 300px;
    margin: 10px;
}

#submit-button {
    width: 80px;
    height: 30px;
    background: rgba(128, 128, 128, 0.179);
    color: white;
    border-radius: 20px;
}